
@{
    ViewData["Title"] = "Dashboard";
}

<h2>Dashboard</h2>

<a class="btn btn-primary" href="@Url.Action("Index","WebLink")">Manage Web Links</a>

<a class="btn btn-primary" href="@Url.Action("Index","Category")">Manage Categories</a>

<a class="btn btn-primary" href="@Url.Action("Index","Usage")">View Usage</a>

