
@model  WebLinkList.WebMvc.Models.HomeViewModel

@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Home Page";
}

<div class="row">    
    <div class="col-md-4">
        @await Component.InvokeAsync("WebLinkListSummaryPanel", new { title = "Mostly Visted Links", webLinks = Model.TopWebLinks })
    </div>
    <div class="col-md-4">
        @await Component.InvokeAsync("WebLinkListSummaryPanel", new { title = "Most Recently Visited Links", webLinks = Model.MostRecentlyViewedLinks })
    </div>
    <div class="col-md-4">
        @await Component.InvokeAsync("WebLinkListSummaryPanel", new { title = "Favourite Links", webLinks = Model.FaviouriteWebLinks })
    </div>
</div>
<div class="row">
    <div class="col-md-9">
        @await Component.InvokeAsync("WebLinkListSearchPanel", new { title = "Search", currentSearchString = Model.CurrentSearchString})
    </div>
    <div class="col-md-3">
        <div class="panel panel-default">
            <div class="panel-body">
                <a class="btn btn-primary" href="@Url.Action("Add","WebLink")">Add Web Link</a>
                <a class="btn btn-primary" href="@Url.Action("Add","Category")">Add Category</a>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-9">
        @await Component.InvokeAsync("WebLinkListDetailPanel", new { title = "All Links", webLinks = Model.WebLinks })
    </div>
    <div class="col-md-3">
        @await Component.InvokeAsync("CategoriesPanel", new { title = "Categories", categories = Model.Categories })
    </div>
</div>
